<a href="/">Home</a>
<a href="/new">Add New Contact</a>

<% if @contacts.empty? %>
  <p>Your contact list is currently empty.</p>
<% else %>
  <% @contacts.each do |contact| %>
    <p><%= contact[:name] %></p>
    <a href="/contacts/<%= contact[:name] %>">See Contact Info</a>
    <a href="/contacts/<%= contact[:name] %>/edit">Edit Contact</a>
    <form method="post" action="/contacts/<%= contact[:name] %>/delete">
      <button type="submit">Delete</button>
    </form>
  <% end %>
    <form method="post" action="/sort">
      <label for="type">View Sorted Contacts</label>
      <select name="type">
        <option value="" disabled selected>Select a type</option>
        <option value="family">family</option>
        <option value="friend">friend</option>
        <option value="work">work</option>
        <option value="school">school</option>
        <option value="other">other</option>
      <select>
      <button type="submit">Sort</button>
    <form>
<% end %>
