<p>You have a total of <%= @contact_number %> <%= get_contact_grammer(@contact_number) %>.</p>

<ul>
  <li><a href="/contacts">View Contacts</a></li>
  <li><a href="/new">Add New Contact</a></li>
<ul>

